@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

body {
  transition-property: color, background-color, border-color;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}
